@use './../sass/styles/' as *;

.pageWrapper {
  background-color: $pink;
}

.content {
  position: relative;
  padding: 1rem;

  p {
    font-family: 'Work Sans';
    font-size: 14px;
    line-height: 160%;

    margin-bottom: 1.6em;
  }

  p:nth-of-type(1) {
    font-weight: 600;
  }
}

.byline {
  display: flex;
  flex-direction: column;
  align-items: center;

  .name {
    font-family: 'PT Serif';
    font-weight: 700;
    font-size: 22px;
    margin: 0;
  }
  .title {
    font-family: 'Work Sans';
    font-size: 12px;
    margin: 0;
  }
}
