@use './../sass/styles/' as *;

.wrapper {
  background-color: $green;
  min-height: 100lvh;
  background-image: url('./../assets/img/background/left.svg'),
    url('./../assets/img/background/right.svg');
  background-position: left top, right top;
  background-repeat: no-repeat;
  background-size: contain;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.pageTitle,
.pageSubTitle {
  color: white;
  font-size: 42px;
}

.pageTitle {
  font-family: 'Rufina', serif;
  font-weight: 700;
}

.pageSubTitle {
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 9px;
  letter-spacing: 0.3em;
}
