@use './../sass/styles/' as *;

.container {
  position: relative;
}

.menuIcon {
  height: 3rem;
  cursor: pointer;
}

.numItemsBackground {
  position: absolute;
  right: -0.5rem;
  top: -0.5rem;

  width: 22px;
  aspect-ratio: 1/1;
  border-radius: 50%;

  background: $orange;

  text-align: center;

  padding: 0.1em;
}

.numItems {
  font-family: 'PT Serif';
  font-weight: 700;
  font-size: 12px;

  color: #ffffff;
}
