@use './../sass/styles/' as *;

.menuRow {
  grid-column: span 3;
  display: grid;
  grid-template-columns: subgrid;
  color: $brown;
}

.add {
  grid-area: add;
  grid-row: span 2;
  height: 32px;
  justify-self: center;
  align-self: center;

  img {
    width: 32px;
  }
}

.title {
  grid-area: title;
  max-width: 300px;
  overflow: hidden;
  text-wrap: nowrap;
  white-space: nowrap;
  grid-row: 1;

  font-family: 'PT Serif';
  font-weight: 700;
  font-size: 23px;
}

.title::after {
  letter-spacing: 0.2em;
  font-size: 8px;
  opacity: 0.4;
  content: ' ............................................................................';
}

.desc {
  grid-area: title;
  grid-row: 2;

  font-size: 12px;
}

.price {
  grid-area: price;
  grid-row: 1;
  align-self: start;

  font-family: 'PT Serif';
  font-weight: 700;
  font-size: 23px;

  text-align: right;
}
