@use './../sass/styles/' as *;

.pageWrapper {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: $brown;
  color: white;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.header {
  padding: 0.8rem;
  width: min($maxWidthContent, 100lvw);
  // max-width: $maxWidthContent;
  margin: 0 auto;
}

.navItem {
  list-style: none;

  font-family: 'PT Serif';
  font-weight: 700;
  font-size: 32px;

  .active {
    opacity: 0.5;
    cursor: default;
  }
}

.navItem:not(:first-child)::before {
  content: ' ';
  opacity: 0.2;
  display: block;
  text-align: center;
  border-top: 1px solid white;
  width: 48px;
  margin: 1rem auto;
}
