@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&family=Rufina:wght@400;700&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

$green: #38846d;
$pink: #f3e4e1;
$brown: #2f2926;
$orange: #e5674e;

.pageWrapper {
  min-height: 100lvh;
  display: grid;
  grid-template-rows: 113px 1fr auto;
  grid-template-columns: 1fr;

  font-family: 'Work Sans', sans-serif;
  line-height: 1.5;
  font-style: normal;

  color: $brown;
}

.content {
  overflow-y: hidden;
  max-width: 600px;
  margin: 0 auto;
  padding: 1rem;
  margin: 1rem;
}

.subPageTitle {
  font-family: 'PT Serif';
  font-weight: 700;
  font-size: 42px;
  line-height: 120%;
  text-align: center;
  color: $brown;
  margin-top: 0rem;
  margin-bottom: 2rem;
}

a {
  color: unset;
  text-decoration: unset;
}
